name = "Arrodes"
uuid = "95b063a4-db16-4801-a32b-edd561b67298"
authors = ["Shashank Swaminathan"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
